
.container{
  max-width: 800px;
  margin: 0 auto;
}
.main{
  background: rgb(144, 201, 237);
  padding: 30px;
}
.addTask-wrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  
}
.main-title{
  text-align: center;
}
.newTask{
  
  width: 300px;
  padding-left: 20px;
  margin-right: 20px;

  
}
.todo-item{
  background-color: #dcdcdc;
  margin: 10px;
  padding: 5px 10px 5px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.task-counter{
  font-weight: bold;
  padding: 14px;
  margin-right: 10px;
  border-radius: 10px;
  background: #acacac;
  color: #fff;
}
.buttons-wrapper{
  margin-right: 30px;
}


.done-ok{
  background: #0ec478;
}
/* .done{
  background: yellow;
} */